.idx


frontend/.DS_*
frontend/*.log
frontend/logs
frontend/**/*.backup.*
frontend/**/*.back.*

frontend/node_modules
frontend/bower_components

frontend/.env

frontend/*.sublime*

frontend/psd
frontend/thumb
frontend/sketch

